@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.text-outline {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f0e3ca;
}

/* styles/globals.css */
/* .accordion {
  margin-bottom: 1rem;
} */

/* .accordion-header {
  cursor: pointer;
  padding: 0.75rem;
} */

/* .accordion-content {
  padding: 1rem;
  overflow: hidden;
  height: 0;
  transition: height 0.5s ease;
} */

/* .accordion-content.open {
  transition: height 0.5s ease;
  height: auto;
} */
